@import url(reset.css);

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Onest", sans-serif;
  font-style: normal;
  background-color: #fffbfa;
}

/*Typography Styles*/

h1 {
  color: black;
  font-family: Onest;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.42rem;
}

h2 {
  color: black;
  font-family: Onest;
  font-size: 1.25rem;
}


/*avery*/
.hero-img {

}




/*avery*/
.hero-text {

}




/*avery*/
.text-right {

}



/*avery*/
.text-left {

}



/*avery*/
.footer {

}