@import url(reset.css);

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Onest", sans-serif;
  font-style: normal;
  background-color: #fffbfa;
}

/*Typography Styles*/

h1 {
}
